
bin/Debug/APILib.dll
bin/Debug/APILib.pdb
bin/Debug/LibTessDotNet.dll
bin/Debug/Newtonsoft.Json.dll
bin/Debug/Newtonsoft.Json.xml
bin/Debug/ShapeLib.dll
bin/Debug/ShapeLib.pdb
bin/Debug/SharpDX.Direct3D11.dll
bin/Debug/SharpDX.Direct3D11.xml
bin/Debug/SharpDX.dll
bin/Debug/SharpDX.DXGI.dll
bin/Debug/SharpDX.DXGI.xml
bin/Debug/SharpDX.Mathematics.dll
bin/Debug/SharpDX.Mathematics.xml
bin/Debug/SharpDX.xml
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/ShapeTemplateLibUnitTest.csproj.FileListAbsolute.txt
obj/Debug/ShapeTemplateLibUnitTest.csprojResolveAssemblyReference.cache
bin/Debug/ShapeTemplateLibUnitTest.vshost.exe
bin/Debug/ShapeTemplateLibUnitTest.vshost.exe.config
bin/Debug/ShapeTemplateLib.dll
bin/Debug/ShapeTemplateLib.xml
bin/Debug/ShapeTemplateLibUnitTest.exe
bin/Debug/ShapeTemplateLibUnitTest.exe.config
bin/Debug/ShapeTemplateLibUnitTest.pdb
obj/Debug/ShapeTemplateLibUnitTest.exe
obj/Debug/ShapeTemplateLibUnitTest.pdb
obj/Debug/UnitTest.csproj.FileListAbsolute.txt
obj/Debug/UnitTest.csprojResolveAssemblyReference.cache
